/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0; /* Optional background for page */
  padding-top: 70px;  /* navbar height*/
}

section {
  margin: 20px;
}

/* Base styles for container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.go-to-top-button {
  position: fixed;
  bottom: "16px";
  right: "16px";
  background-color: #5c73b6;
  color: #fff;
}

/* For small devices (up to 576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* For medium devices (up to 768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* For large devices (up to 992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* For extra-large devices (up to 1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* For extra-extra-large devices (up to 1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
